<!DOCTYPE HTML>
 <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8"/>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
        <script> $(function(){ $("#header").load("header.html");  }); </script> 
    </head>
    <body>
        <div id="header"></div>

        <div class="container">
            <table>
                <td class="col-md-6">
                    <h2 scope="col">All courses</h2>
                </td>
                <td>
                    <button>
                        <form method="get" action="http://localhost:8080/courseRedirect">
                            <select onchange="this.form.submit()" name="courseType">
                                <option value="" disabled selected>Create Course</option>
                                <option value="onlinecourse">Online Course</option>
                                <option value="classroomcourse">Classroom Course</option>
                            </select>
                        </form>
                    </button>
                </td>
            </table>
            


            <table class="table" border="0" padding="2">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Credit</th>
                        <th scope="col">Additional information</th>
                        <th scope="col">Remove student from course</th>
                        <th scope="col">Delete course</th>
                    </tr>
                </thead>
                <tr th:each="courses : ${courses}">
                    <td th:text="${courses.GetID()}"></td>
                    <td><a th:href="'http://localhost:8080/getCourse?courseID=' + ${courses.GetID()}" th:text="${courses.GetName()}"></td>

                    <td th:text="${courses.GetCredit()}"></td>
                    <td th:text="${courses.GetInfo()}"></td>

                    <td>
                            <!-- Iterate over found students -->
        
                            <form id='removeFromCourseForm' method="post" action="http://localhost:8080/removeStudentFromCourse">
                                <select id='studentselection' onchange="changeHiddenValue()">
                                    <option value="Remove from course" selected disabled />
                                            
                                    <th:block th:each="s : ${courses.GetStudents()}">
                                        <option th:value="${s.GetID}" th:text="${s.GetFirstName()} + ' ' + ${s.GetLastName()}"/>
                                    </th:block>
                                            
                                    <input type="hidden" name="courseID" th:value="${courses.GetID()}"/>
                                    <input type="hidden" id='hiddenValue' name="studentID" th:value="${'NULL'}"/>
                                            
                                 </select>
                            </form>
                            </td>
                            
                            <!-- Change the hidden value based to the selection-->
                            <script type="text/javascript" th:inline="javascript">
                                function changeHiddenValue(){
                                    document.getElementById('hiddenValue').value = document.getElementById('studentselection').value;
                                    let text = "Are you sure?";
                                    if(confirm(text)){
                                        document.getElementById('removeFromCourseForm').submit();
                                    }
                                    else return;
                                }
                            </script>
                    </td>
    
                    <td>
                        <form method="post" onsubmit="return confirmation(this)" action="http://localhost:8080/deleteCourse">
                            <input type="submit"></input>
                            <input type="hidden" name="courseID" th:value="${courses.GetID()}"/>
                                <script>
                                    function confirmation(form) {
                                    let text = "Are you sure? This operation can't be undone.";
                                    if(confirm(text)){
                                        return true;
                                    }
                                    else return false;

                                    document.getElementById("demo").innerHTML = text;
                                    }
                                </script>
                        </form>
                    </td>
                
                </tr>
            </table>

        </div>
    </body>
</html>
        