<html>
    <head><meta charset="UTF-8"/></head>
    <body>
        <form method="post" action="http://localhost:8080/createClassRoomCourse">
            <p><input type="text" name="id" placeholder="Course ID" required/></p>
            <p><input type="text" name="name" placeholder="Course Name" required/></p>
            <p><input type="text" name="teacher" placeholder="Teacher" required/></p>
            <p><label>Start date </label><input type="date" name="startDate" required/></p>
            <p><label>End date </label>  <input type="date" name="endDate" required/></p>

            <p><input type="text" name="credit" placeholder="Credit" required/></p>
            <p><input type="text" name="classRoom" placeholder="Classroom" required/></p>
            <p><input type="text" name="info" placeholder="Additional information" required/></p>
            <p><input type="submit" value="Create"/></p>
        </form>
    </body>
</html>